body {

}

.navBar {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(52, 21, 77);
  color: #f0f8ff;
  font-size: 12px;
}

.carrinho {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(103, 57, 141);
  color: #f0f8ff;
}
